@{
    Layout = "_Dashboard";
}

<main class="main__content_wrapper">
    <!-- dashboard container -->
    <div class="dashboard__container dashboard__reviews--container">
        <div class="reviews__heading mb-30">
            <h2 class="reviews__heading--title">My Favorites</h2>
            <p class="reviews__heading--desc">We are glad to see you again!</p>
        </div>
        <div class="properties__wrapper">
            <div class="properties__table table-responsive">
                <table class="properties__table--wrapper">
                    <thead>
                        <tr>
                            <th>Listing Title</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="properties__author d-flex align-items-center">
                                    <div class="properties__author--thumb">
                                        <img src="./assets/img/dashboard/properties-author1.png" alt="img">
                                    </div>
                                    <div class="reviews__author--text">
                                        <h3 class="reviews__author--title">Luxury Family Home</h3>
                                        <p class="reviews__author--subtitle">1421 San Pedro St, Los Angeles, CA 900015</p>
                                        <span class="properties__author--price">$19000/mo</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="reviews__action--wrapper position-relative">
                                    <button class="reviews__action--btn" aria-label="action button" type="button" aria-expanded="true" data-bs-toggle="dropdown">
                                        <svg width="3" height="17" viewBox="0 0 3 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="1.5" cy="1.5" r="1.5" fill="currentColor" />
                                            <circle cx="1.5" cy="8.5" r="1.5" fill="currentColor" />
                                            <circle cx="1.5" cy="15.5" r="1.5" fill="currentColor" />
                                        </svg>
                                    </button>
                                    <ul class="dropdown-menu sold-out__user--dropdown " data-popper-placement="bottom-start">
                                        <li><a data-bs-toggle="modal" href="#">Edit</a></li>
                                        <li><a data-bs-toggle="modal" href="#">Remove</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="properties__author d-flex align-items-center">
                                    <div class="properties__author--thumb">
                                        <img src="./assets/img/dashboard/properties-author2.png" alt="img">
                                    </div>
                                    <div class="reviews__author--text">
                                        <h3 class="reviews__author--title">White House villa</h3>
                                        <p class="reviews__author--subtitle">1421 San Pedro St, Los Angeles, CA 900015</p>
                                        <span class="properties__author--price">$18000/mo</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="reviews__action--wrapper position-relative">
                                    <button class="reviews__action--btn" aria-label="action button" type="button" aria-expanded="true" data-bs-toggle="dropdown">
                                        <svg width="3" height="17" viewBox="0 0 3 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="1.5" cy="1.5" r="1.5" fill="currentColor" />
                                            <circle cx="1.5" cy="8.5" r="1.5" fill="currentColor" />
                                            <circle cx="1.5" cy="15.5" r="1.5" fill="currentColor" />
                                        </svg>
                                    </button>
                                    <ul class="dropdown-menu sold-out__user--dropdown " data-popper-placement="bottom-start">
                                        <li><a data-bs-toggle="modal" href="#">Edit</a></li>
                                        <li><a data-bs-toggle="modal" href="#">Remove</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="properties__author d-flex align-items-center">
                                    <div class="properties__author--thumb">
                                        <img src="./assets/img/dashboard/properties-author3.png" alt="img">
                                    </div>
                                    <div class="reviews__author--text">
                                        <h3 class="reviews__author--title">Luxury villa in Dal lake</h3>
                                        <p class="reviews__author--subtitle">1421 San Pedro St, Los Angeles, CA 900015</p>
                                        <span class="properties__author--price">$83000/mo</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="reviews__action--wrapper position-relative">
                                    <button class="reviews__action--btn" aria-label="action button" type="button" aria-expanded="true" data-bs-toggle="dropdown">
                                        <svg width="3" height="17" viewBox="0 0 3 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="1.5" cy="1.5" r="1.5" fill="currentColor" />
                                            <circle cx="1.5" cy="8.5" r="1.5" fill="currentColor" />
                                            <circle cx="1.5" cy="15.5" r="1.5" fill="currentColor" />
                                        </svg>
                                    </button>
                                    <ul class="dropdown-menu sold-out__user--dropdown " data-popper-placement="bottom-start">
                                        <li><a data-bs-toggle="modal" href="#">Edit</a></li>
                                        <li><a data-bs-toggle="modal" href="#">Remove</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="properties__author d-flex align-items-center">
                                    <div class="properties__author--thumb">
                                        <img src="./assets/img/dashboard/properties-author4.png" alt="img">
                                    </div>
                                    <div class="reviews__author--text">
                                        <h3 class="reviews__author--title">Wooden World</h3>
                                        <p class="reviews__author--subtitle">1421 San Pedro St, Los Angeles, CA 900015</p>
                                        <span class="properties__author--price">$63000/mo</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="reviews__action--wrapper position-relative">
                                    <button class="reviews__action--btn" aria-label="action button" type="button" aria-expanded="true" data-bs-toggle="dropdown">
                                        <svg width="3" height="17" viewBox="0 0 3 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="1.5" cy="1.5" r="1.5" fill="currentColor" />
                                            <circle cx="1.5" cy="8.5" r="1.5" fill="currentColor" />
                                            <circle cx="1.5" cy="15.5" r="1.5" fill="currentColor" />
                                        </svg>
                                    </button>
                                    <ul class="dropdown-menu sold-out__user--dropdown " data-popper-placement="bottom-start">
                                        <li><a data-bs-toggle="modal" href="#">Edit</a></li>
                                        <li><a data-bs-toggle="modal" href="#">Remove</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="properties__author d-flex align-items-center">
                                    <div class="properties__author--thumb">
                                        <img src="./assets/img/dashboard/properties-author5.png" alt="img">
                                    </div>
                                    <div class="reviews__author--text">
                                        <h3 class="reviews__author--title">Orkit Villa</h3>
                                        <p class="reviews__author--subtitle">1421 San Pedro St, Los Angeles, CA 900015</p>
                                        <span class="properties__author--price">$1000/mo</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="reviews__action--wrapper position-relative">
                                    <button class="reviews__action--btn" aria-label="action button" type="button" aria-expanded="true" data-bs-toggle="dropdown">
                                        <svg width="3" height="17" viewBox="0 0 3 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="1.5" cy="1.5" r="1.5" fill="currentColor" />
                                            <circle cx="1.5" cy="8.5" r="1.5" fill="currentColor" />
                                            <circle cx="1.5" cy="15.5" r="1.5" fill="currentColor" />
                                        </svg>
                                    </button>
                                    <ul class="dropdown-menu sold-out__user--dropdown " data-popper-placement="bottom-start">
                                        <li><a data-bs-toggle="modal" href="#">Edit</a></li>
                                        <li><a data-bs-toggle="modal" href="#">Remove</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="properties__author d-flex align-items-center">
                                    <div class="properties__author--thumb">
                                        <img src="./assets/img/dashboard/properties-author6.png" alt="img">
                                    </div>
                                    <div class="reviews__author--text">
                                        <h3 class="reviews__author--title">Single Family Home</h3>
                                        <p class="reviews__author--subtitle">1421 San Pedro St, Los Angeles, CA 900015</p>
                                        <span class="properties__author--price">$20000/mo</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="reviews__action--wrapper position-relative">
                                    <button class="reviews__action--btn" aria-label="action button" type="button" aria-expanded="true" data-bs-toggle="dropdown">
                                        <svg width="3" height="17" viewBox="0 0 3 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="1.5" cy="1.5" r="1.5" fill="currentColor" />
                                            <circle cx="1.5" cy="8.5" r="1.5" fill="currentColor" />
                                            <circle cx="1.5" cy="15.5" r="1.5" fill="currentColor" />
                                        </svg>
                                    </button>
                                    <ul class="dropdown-menu sold-out__user--dropdown " data-popper-placement="bottom-start">
                                        <li><a data-bs-toggle="modal" href="#">Edit</a></li>
                                        <li><a data-bs-toggle="modal" href="#">Remove</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="properties__author d-flex align-items-center">
                                    <div class="properties__author--thumb">
                                        <img src="./assets/img/dashboard/properties-author7.png" alt="img">
                                    </div>
                                    <div class="reviews__author--text">
                                        <h3 class="reviews__author--title">Gorgeous Villa Bay View</h3>
                                        <p class="reviews__author--subtitle">1421 San Pedro St, Los Angeles, CA 900015</p>
                                        <span class="properties__author--price">$11000/mo</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="reviews__action--wrapper position-relative">
                                    <button class="reviews__action--btn" aria-label="action button" type="button" aria-expanded="true" data-bs-toggle="dropdown">
                                        <svg width="3" height="17" viewBox="0 0 3 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="1.5" cy="1.5" r="1.5" fill="currentColor" />
                                            <circle cx="1.5" cy="8.5" r="1.5" fill="currentColor" />
                                            <circle cx="1.5" cy="15.5" r="1.5" fill="currentColor" />
                                        </svg>
                                    </button>
                                    <ul class="dropdown-menu sold-out__user--dropdown " data-popper-placement="bottom-start">
                                        <li><a data-bs-toggle="modal" href="#">Edit</a></li>
                                        <li><a data-bs-toggle="modal" href="#">Remove</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagination__area">
                <nav class="pagination justify-content-center">
                    <ul class="pagination__menu d-flex align-items-center justify-content-center">
                        <li class="pagination__menu--items pagination__arrow d-flex">
                            <a href="#" class="pagination__arrow-icon link">
                                <svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.583 20.5832L0.999675 10.9998L10.583 1.4165" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <span class="visually-hidden">page left arrow</span>
                            </a>
                            <span class="pagination__arrow-icon">
                                <svg width="3" height="22" viewBox="0 0 3 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.50098 1L1.50098 21" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                                </svg>
                            </span>
                            <a href="#" class="pagination__arrow-icon link">
                                <svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.001 20.5832L1.41764 10.9998L11.001 1.4165" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <span class="visually-hidden">page left arrow</span>
                            </a>
                        </li>
                        <li class="pagination__menu--items"><a href="#" class="pagination__menu--link">01</a></li>
                        <li class="pagination__menu--items"><a href="#" class="pagination__menu--link active color-accent-1">02</a></li>
                        <li class="pagination__menu--items"><a href="#" class="pagination__menu--link">03</a></li>
                        <li class="pagination__menu--items pagination__arrow d-flex">
                            <a href="#" class="pagination__arrow-icon link">
                                <svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.00098 20.5832L10.5843 10.9998L1.00098 1.4165" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <span class="visually-hidden">page right arrow</span>
                            </a>
                            <span class="pagination__arrow-icon">
                                <svg width="3" height="22" viewBox="0 0 3 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.50098 1L1.50098 21" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                                </svg>
                            </span>
                            <a href="#" class="pagination__arrow-icon link">
                                <svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.41895 20.5832L11.0023 10.9998L1.41895 1.4165" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <span class="visually-hidden">page right arrow</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- dashboard container .\ -->
    <!-- Start footer section -->
    <footer class="footer footer__section">
        <div class="dashboard__footer--inner text-center">
            <p class="copyright__content mb-0">Copyright © 2024 Powered By <span>NewVilla</span>. Designed with  by <a class="copyright__content--link" target="_blank" href="https://themeforest.net/search/hooktheme">Hooktheme</a>  All Rights Reserved.</p>
        </div>
    </footer>
    <!-- End footer section -->
</main>
