@model Presentation.ViewModels.RealESVM.FilterVM;
<form asp-action="Index" asp-controller="RealES">
<div class="advance__search--filter">

    <div class="tab-content" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200">
        <div class="tab-pane fade show active" id="buy">
            <div class="advance__search--inner d-flex">
                <div class="advance__search--items">
                    <input class="advance__search--input" placeholder="Enter Keyword..." type="text">
                </div>
                <div class="advance__search--items">
                    <select class="advance__search--select">
                        <option selected value="1">Property Type</option>
                        <option value="2">Bungalow</option>
                        <option value="3">Condo</option>
                        <option value="4">Apartment</option>
                        <option value="5">House</option>
                        <option value="6">Single Family</option>
                        <option value="7">Land</option>
                    </select>
                </div>
                <div class="advance__search--items  position-relative">
                    <input class="advance__search--input location" placeholder="Which Place?" type="text">
                    <span class="advance__location--icon">
                        <svg width="11" height="17" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.48287 0C2.45013 0 0 2.4501 0 5.48288C0 5.85982 0.0343013 6.21958 0.102785 6.57945C0.514031 9.69783 4.42055 11.9767 5.51712 16.4144C6.5966 12.0452 11 8.824 11 5.48288H10.9657C10.9657 2.45013 8.51548 0 5.48282 0H5.48287ZM5.48287 2.17592C7.21338 2.17592 8.61839 3.58097 8.61839 5.31144C8.61839 7.04191 7.21335 8.44696 5.48287 8.44696C3.7524 8.44696 2.34736 7.04191 2.34736 5.31144C2.34736 3.58097 3.75228 2.17592 5.48287 2.17592Z" fill="#8B8B8B" />
                        </svg>
                    </span>
                </div>
                <div class="advance__search--items price">
                    <div class="advance__search--price d-flex align-items-center justify-content-between">
                        <span>Price</span>
                        <label>
                            <svg width="9" height="18" viewBox="0 0 9 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.34376 8.4373H5.06244V3.37489H8.43733C8.74808 3.37489 8.99977 3.1228 8.99977 2.81245C8.99977 2.50189 8.74807 2.25001 8.43733 2.25001H5.06244V0.56244C5.06244 0.251885 4.81074 0 4.5 0C4.18926 0 3.93756 0.252091 3.93756 0.56244V2.25001H3.65623C1.64026 2.25001 0 3.89027 0 5.90624C0 7.92222 1.64026 9.56248 3.65623 9.56248H3.93756V14.6249L0.562671 14.6247C0.251921 14.6247 0.000231432 14.8768 0.000231432 15.1871C0.000231432 15.4977 0.251931 15.7496 0.562671 15.7496H3.93756V17.4371C3.93756 17.7477 4.18926 17.9996 4.5 17.9996C4.81074 17.9996 5.06244 17.7475 5.06244 17.4371V15.7496H5.34376C7.35974 15.7496 9 14.1093 9 12.0933C9 10.0776 7.35974 8.4373 5.34376 8.4373V8.4373ZM3.93754 8.4373H3.65621C2.26039 8.4373 1.12511 7.30202 1.12511 5.90619C1.12511 4.51037 2.26039 3.37509 3.65621 3.37509H3.93754V8.4373ZM5.34376 14.6247H5.06244V9.56228H5.34376C6.73959 9.56228 7.87487 10.6976 7.87487 12.0934C7.87487 13.4894 6.73959 14.6247 5.34376 14.6247Z" fill="#8B8B8B" />
                            </svg>
                        </label>
                    </div>
                </div>
                <button class="advance__search--btn solid__btn">
                    Search Now <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.60519 0C2.96319 0 0 2.96338 0 6.60562C0 10.2481 2.96319 13.2112 6.60519 13.2112C10.2474 13.2112 13.2104 10.2481 13.2104 6.60562C13.2104 2.96338 10.2474 0 6.60519 0ZM6.60519 11.9918C3.6355 11.9918 1.21942 9.57553 1.21942 6.60565C1.21942 3.63576 3.6355 1.2195 6.60519 1.2195C9.57487 1.2195 11.991 3.63573 11.991 6.60562C11.991 9.5755 9.57487 11.9918 6.60519 11.9918Z" fill="white" />
                        <path d="M14.8206 13.9597L11.325 10.4638C11.0868 10.2256 10.701 10.2256 10.4628 10.4638C10.2246 10.7018 10.2246 11.088 10.4628 11.326L13.9585 14.8219C14.0776 14.941 14.2335 15.0006 14.3896 15.0006C14.5454 15.0006 14.7015 14.941 14.8206 14.8219C15.0588 14.5839 15.0588 14.1977 14.8206 13.9597Z" fill="white" />
                    </svg>
                </button>
            </div>
        </div>

    </div>

</div
</form>